.obj/

.DS_Store

lockserver/client-main
lockserver/server-main
lockserver/lockserver-repl
store/benchmark/benchClient
store/benchmark/retwisClient
store/benchmark/terminalClient
store/server
store/benchmark/async/benchmark
store/benchmark/async/benchmark_oneshot
store/benchmark/async/tpcc/tpcc_generator
store/benchmark/async/smallbank/smallbank_generator_main
store/benchmark/async/smallbank/smallbank_generator
store/benchmark/async/smallbank/smallbank_client
store/benchmark/async/smallbank/smallbank_data
store/benchmark/async/smallbank/smallbank_names
store/benchmark/async/smallbank/tests/smallbank_transaction_test
store/benchmark/async/smallbank/tests/smallbank_client_test
store/benchmark/async/smallbank/tests/smallbank_generator_test
timeserver/timeserver

lib/tests/configuration-test
lib/tests/simtransport-test
lockserver/tests/lockserver-test
replication/ir/tests/ir-test
replication/vr/tests/vr-test
store/common/backend/tests/kvstore-test
store/common/backend/tests/lockserver-test
store/common/backend/tests/versionstore-test
store/janusstore/tests/janus-server-test
store/mortystore/tests/branch-generator-test
store/mortystore/tests/branch-compatible-test
store/janusstore/tests/janus-client-test

################################################################################
# vim
################################################################################
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags

################################################################################
# c++
################################################################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
