f 1
group
replica us-east-1-0:7087
replica eu-west-1-0:7087
replica ap-northeast-1-0:7087
f 1
group
replica us-east-1-1:7087
replica eu-west-1-1:7087
replica ap-northeast-1-1:7087
f 1
group
replica us-east-1-2:7087
replica eu-west-1-2:7087
replica ap-northeast-1-2:7087
f 1
group
replica us-east-1-0:7088
replica eu-west-1-0:7088
replica ap-northeast-1-0:7088
f 1
group
replica us-east-1-1:7088
replica eu-west-1-1:7088
replica ap-northeast-1-1:7088
f 1
group
replica us-east-1-2:7088
replica eu-west-1-2:7088
replica ap-northeast-1-2:7088
f 1
group
replica us-east-1-0:7089
replica eu-west-1-0:7089
replica ap-northeast-1-0:7089
f 1
group
replica us-east-1-1:7089
replica eu-west-1-1:7089
replica ap-northeast-1-1:7089
f 1
group
replica us-east-1-2:7089
replica eu-west-1-2:7089
replica ap-northeast-1-2:7089
f 1
group
replica us-east-1-0:7090
replica eu-west-1-0:7090
replica ap-northeast-1-0:7090
f 1
group
replica us-east-1-1:7090
replica eu-west-1-1:7090
replica ap-northeast-1-1:7090
f 1
group
replica us-east-1-2:7090
replica eu-west-1-2:7090
replica ap-northeast-1-2:7090
f 1
group
replica us-east-1-0:7091
replica eu-west-1-0:7091
replica ap-northeast-1-0:7091
f 1
group
replica us-east-1-1:7091
replica eu-west-1-1:7091
replica ap-northeast-1-1:7091
f 1
group
replica us-east-1-2:7091
replica eu-west-1-2:7091
replica ap-northeast-1-2:7091
f 1
group
replica us-east-1-0:7092
replica eu-west-1-0:7092
replica ap-northeast-1-0:7092
f 1
group
replica us-east-1-1:7092
replica eu-west-1-1:7092
replica ap-northeast-1-1:7092
f 1
group
replica us-east-1-2:7092
replica eu-west-1-2:7092
replica ap-northeast-1-2:7092
f 1
group
replica us-east-1-0:7093
replica eu-west-1-0:7093
replica ap-northeast-1-0:7093
f 1
group
replica us-east-1-1:7093
replica eu-west-1-1:7093
replica ap-northeast-1-1:7093
f 1
group
replica us-east-1-2:7093
replica eu-west-1-2:7093
replica ap-northeast-1-2:7093
f 1
group
replica us-east-1-0:7094
replica eu-west-1-0:7094
replica ap-northeast-1-0:7094
f 1
group
replica us-east-1-1:7094
replica eu-west-1-1:7094
replica ap-northeast-1-1:7094
f 1
group
replica us-east-1-2:7094
replica eu-west-1-2:7094
replica ap-northeast-1-2:7094
